@import "reboot.scss";
@import "mixins.scss";
@import "layout.scss";

html {
    overflow: hidden;
}

body {
    font-family: "Inter UI";
}

.puzzle-heading-control-text {
    font-size: 10px;
    color: #626262;
    letter-spacing: 0.7px;
    text-transform: uppercase;
    margin: 0;
}