.ca-wrapper {
    display: grid;
    width: 100vw;
    height: 100vh;
    overflow: hidden;

    grid-template-columns: minmax(50%, calc(100vw - (100vh - 250px))) minmax(auto, calc(100vh - 250px)); // I have no idea what's going on here but it seems to work well so don't touch it
    grid-template-rows: 42px auto 42px;
}

.top-bar {
    @include page-bar;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    background-image: linear-gradient(-120deg, #66C3EE 0%, #C2FAB8 100%);
    border-bottom: 2px solid #282828;
}

.bottom-bar {
    @include page-bar;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    // background: blue;
    background-image: linear-gradient(-180deg, #5F5F5F 0%, #474747 100%);
}

.puzzle-info {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;

    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 90px auto;
}

.puzzle-visualization {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;

    border-left: 2px solid #979797;
}

.puzzle-heading {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}

// .word-column {
//     // columns are implied :)
//     grid-row-start: 1;
//     grid-row-end: 2;
// }